<label>Server Name</label>
<!-- <input 
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input 
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->
<button 
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<app-server *ngFor="let server of servers"></app-server>

<hr>
<label>Assignment 3</label>
<br>
<button 
  class="btn btn-success"
  (click)="onToggleSecret()">Display Details</button>
<p *ngIf="secretCode">Secret Code: Angular</p>
<div 
  *ngFor="let list of myArray; let i = index"
  [ngStyle]="{backgroundColor: i >= 4 ? 'blue': 'transparent'}"
  [ngClass]="{'white-text': i >= 4}"
  >{{ list }}
</div>

















<!-- <hr>
<label>Assignment 2</label>
<input 
  type="text"
  class="form-control"
  [(ngModel)]="userName"
  >
<p>{{ userName }}</p>
<button
  class="btn btn-info"
  [disabled]="userName === ''"
  (click)="userName = ''">reset</button> -->